<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Scraped Mars Information</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>
            <div class="col-lg-12">
                <h2>Latest Mars News</h2>
                <h3>{{ data.news_title }}</h3>
                <p> {{ data.news_p }}</p>
            </div>
            <div class="col-md-8">
                <h2> Featured JPL Image </h2>
                <img src={{data.featured_image_url}} alt="Featured JPL Image" width="100%" height="auto">
            </div>
            <div class="col-md-4">
                <h3> Current Weather on Mars </h3>
                <p> {{ data.mars_weather }}</p>
            </div>
            <div class="col-md-4">
                <h3> Mars Facts </h3>
                <table>
                    {{ data.mars_facts | safe }}
                </table>
            </div>
            <div class="col-lg-12">
                <h2> Mars Hemispheres </h2>
                <hr>
                <div>
                    {% for item in data.hemisphere_image_urls %}
                    <div class="col-md-6">
                        <img src={{item.img_url}} width="100%" height="auto">
                        <h3> {{item.title}} </h3>
                    </div>
                    {% endfor %}
                </div>   
            </div>
            
            
            

        </div>
    </div>
</body>